.news-card {
    border-top: 2px grey solid;
    border-bottom: 2px grey solid;
    margin: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.thumbnail-type,
.thumbnail-date {
    color: black;
    font-size: small;
    align-self: center;
    text-decoration: none;
}
